body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1413px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:26px;
}
#u699 {
  position:absolute;
  left:40px;
  top:10px;
  width:81px;
  height:25px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u700 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:19px;
}
#u701 {
  position:absolute;
  left:40px;
  top:42px;
  width:213px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u702 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1404px;
  height:11px;
}
#u703 {
  position:absolute;
  left:10px;
  top:72px;
  width:1403px;
  height:10px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u704 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u705 {
  position:absolute;
  left:40px;
  top:92px;
  width:94px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u706 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u707 {
  position:absolute;
  left:159px;
  top:92px;
  width:94px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u708 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u709 {
  position:absolute;
  left:279px;
  top:92px;
  width:94px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u710 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1374px;
  height:2px;
}
#u711 {
  position:absolute;
  left:40px;
  top:139px;
  width:1373px;
  height:1px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u712 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u713 {
  position:absolute;
  left:40px;
  top:204px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u714 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u715 {
  position:absolute;
  left:107px;
  top:204px;
  width:100px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u716 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u715_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u717 {
  position:absolute;
  left:107px;
  top:294px;
  width:100px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u718 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u717_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:57px;
}
#u719 {
  position:absolute;
  left:119px;
  top:228px;
  width:544px;
  height:56px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u720 {
  position:absolute;
  left:5px;
  top:8px;
  width:537px;
  word-wrap:break-word;
}
#u721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:57px;
}
#u721 {
  position:absolute;
  left:119px;
  top:322px;
  width:544px;
  height:56px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u722 {
  position:absolute;
  left:5px;
  top:8px;
  width:537px;
  word-wrap:break-word;
}
#u723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u723 {
  position:absolute;
  left:40px;
  top:403px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u724 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u725 {
  position:absolute;
  left:107px;
  top:397px;
  width:175px;
  height:30px;
}
#u725_input {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
}
#u726 {
  position:absolute;
  left:40px;
  top:454px;
  width:43px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u727 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u728 {
  position:absolute;
  left:107px;
  top:448px;
  width:175px;
  height:30px;
}
#u728_input {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u728_input:disabled {
  color:grayText;
}
#u729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u729 {
  position:absolute;
  left:40px;
  top:553px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u730 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u731 {
  position:absolute;
  left:190px;
  top:553px;
  width:66px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u732 {
  position:absolute;
  left:16px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u731_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u733 {
  position:absolute;
  left:289px;
  top:553px;
  width:66px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u734 {
  position:absolute;
  left:16px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u733_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u735 {
  position:absolute;
  left:107px;
  top:553px;
  width:66px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u736 {
  position:absolute;
  left:16px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u735_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u737 {
  position:absolute;
  left:107px;
  top:601px;
  width:94px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u738 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u739 {
  position:absolute;
  left:40px;
  top:164px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u740 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u741 {
  position:absolute;
  left:111px;
  top:158px;
  width:194px;
  height:30px;
}
#u741_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
}
#u742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:19px;
}
#u742 {
  position:absolute;
  left:315px;
  top:164px;
  width:101px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u743 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u744 {
  position:absolute;
  left:1303px;
  top:92px;
  width:94px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u745 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:31px;
}
#u746 {
  position:absolute;
  left:707px;
  top:424px;
  width:300px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u747 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u748 {
  position:absolute;
  left:357px;
  top:549px;
  width:89px;
  height:26px;
}
#u748_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u749 {
  position:absolute;
  left:456px;
  top:553px;
  width:15px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u750 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u751 {
  position:absolute;
  left:40px;
  top:504px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u752 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u753 {
  position:absolute;
  left:107px;
  top:504px;
  width:164px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u754 {
  position:absolute;
  left:16px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u753_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u755 {
  position:absolute;
  left:271px;
  top:500px;
  width:49px;
  height:26px;
}
#u755_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:26px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:19px;
}
#u756 {
  position:absolute;
  left:325px;
  top:504px;
  width:113px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u757 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u758 {
  position:absolute;
  left:498px;
  top:553px;
  width:74px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u759 {
  position:absolute;
  left:16px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u758_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u760 {
  position:absolute;
  left:565px;
  top:547px;
  width:96px;
  height:30px;
}
#u760_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
}
#u761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u761 {
  position:absolute;
  left:671px;
  top:553px;
  width:15px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u762 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u763_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:278px;
  height:8px;
}
#u763 {
  position:absolute;
  left:561px;
  top:436px;
  width:275px;
  height:5px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
  line-height:20px;
}
#u764 {
  position:absolute;
  left:2px;
  top:-6px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
