body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1413px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:26px;
}
#u711 {
  position:absolute;
  left:40px;
  top:10px;
  width:81px;
  height:25px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u712 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:19px;
}
#u713 {
  position:absolute;
  left:40px;
  top:42px;
  width:213px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u714 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1404px;
  height:11px;
}
#u715 {
  position:absolute;
  left:10px;
  top:72px;
  width:1403px;
  height:10px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u716 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u717 {
  position:absolute;
  left:40px;
  top:92px;
  width:94px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u718 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u719 {
  position:absolute;
  left:159px;
  top:92px;
  width:94px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u720 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u721 {
  position:absolute;
  left:279px;
  top:92px;
  width:94px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u722 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1374px;
  height:2px;
}
#u723 {
  position:absolute;
  left:40px;
  top:139px;
  width:1373px;
  height:1px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u724 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u725 {
  position:absolute;
  left:40px;
  top:204px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u726 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u727 {
  position:absolute;
  left:107px;
  top:204px;
  width:100px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u728 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u727_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u729 {
  position:absolute;
  left:107px;
  top:294px;
  width:100px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u730 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u729_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:57px;
}
#u731 {
  position:absolute;
  left:119px;
  top:228px;
  width:544px;
  height:56px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u732 {
  position:absolute;
  left:5px;
  top:8px;
  width:537px;
  word-wrap:break-word;
}
#u733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:57px;
}
#u733 {
  position:absolute;
  left:119px;
  top:322px;
  width:544px;
  height:56px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u734 {
  position:absolute;
  left:5px;
  top:8px;
  width:537px;
  word-wrap:break-word;
}
#u735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u735 {
  position:absolute;
  left:40px;
  top:403px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u736 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u737 {
  position:absolute;
  left:107px;
  top:399px;
  width:175px;
  height:26px;
}
#u737_input {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:26px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
}
#u738 {
  position:absolute;
  left:40px;
  top:454px;
  width:43px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u739 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u740 {
  position:absolute;
  left:107px;
  top:448px;
  width:175px;
  height:30px;
}
#u740_input {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u740_input:disabled {
  color:grayText;
}
#u741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u741 {
  position:absolute;
  left:40px;
  top:507px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u742 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u743 {
  position:absolute;
  left:255px;
  top:507px;
  width:66px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u744 {
  position:absolute;
  left:16px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u743_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u745 {
  position:absolute;
  left:419px;
  top:507px;
  width:66px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u746 {
  position:absolute;
  left:16px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u745_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u747 {
  position:absolute;
  left:107px;
  top:507px;
  width:66px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u748 {
  position:absolute;
  left:16px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u747_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u749 {
  position:absolute;
  left:93px;
  top:729px;
  width:94px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u750 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u751 {
  position:absolute;
  left:40px;
  top:164px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u752 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u753 {
  position:absolute;
  left:111px;
  top:158px;
  width:194px;
  height:30px;
}
#u753_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
}
#u754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:19px;
}
#u754 {
  position:absolute;
  left:315px;
  top:164px;
  width:101px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u755 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u756 {
  position:absolute;
  left:1303px;
  top:92px;
  width:94px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u757 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u758_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:228px;
  height:11px;
}
#u758 {
  position:absolute;
  left:584px;
  top:409px;
  width:225px;
  height:8px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
  line-height:20px;
}
#u759 {
  position:absolute;
  left:2px;
  top:-4px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:31px;
}
#u760 {
  position:absolute;
  left:707px;
  top:400px;
  width:300px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u761 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u762 {
  position:absolute;
  left:487px;
  top:503px;
  width:89px;
  height:26px;
}
#u762_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u763 {
  position:absolute;
  left:586px;
  top:507px;
  width:15px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u764 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
