body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1218px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u15991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:265px;
}
#u15991 {
  position:absolute;
  left:370px;
  top:10px;
  width:500px;
  height:264px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 255, 0.8);
  line-height:24px;
}
#u15992 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u15994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:521px;
}
#u15994 {
  position:absolute;
  left:10px;
  top:10px;
  width:300px;
  height:520px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u15995 {
  position:absolute;
  left:2px;
  top:252px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:52px;
}
#u15996 {
  position:absolute;
  left:10px;
  top:10px;
  width:300px;
  height:51px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u15997 {
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
}
#u15998 {
  position:absolute;
  left:145px;
  top:34px;
  width:29px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u15999 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:11px;
}
#u16000 {
  position:absolute;
  left:16px;
  top:14px;
  width:287px;
  height:11px;
}
#u16001 {
  position:absolute;
  left:2px;
  top:-2px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:31px;
}
#u16002 {
  position:absolute;
  left:24px;
  top:29px;
  width:39px;
  height:30px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u16003 {
  position:absolute;
  left:0px;
  top:4px;
  width:39px;
  white-space:nowrap;
}
#u16004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:37px;
}
#u16004 {
  position:absolute;
  left:34px;
  top:451px;
  width:252px;
  height:36px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u16005 {
  position:absolute;
  left:2px;
  top:9px;
  width:248px;
  word-wrap:break-word;
}
#u16006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u16006 {
  position:absolute;
  left:27px;
  top:78px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u16007 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u16008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:19px;
}
#u16008 {
  position:absolute;
  left:284px;
  top:34px;
  width:12px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u16009 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u16010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u16010 {
  position:absolute;
  left:27px;
  top:109px;
  width:79px;
  height:37px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 255, 0.8);
}
#u16011 {
  position:absolute;
  left:2px;
  top:11px;
  width:75px;
  word-wrap:break-word;
}
#u16012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u16012 {
  position:absolute;
  left:122px;
  top:109px;
  width:79px;
  height:37px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16013 {
  position:absolute;
  left:2px;
  top:11px;
  width:75px;
  word-wrap:break-word;
}
#u16014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u16014 {
  position:absolute;
  left:217px;
  top:109px;
  width:79px;
  height:37px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16015 {
  position:absolute;
  left:2px;
  top:11px;
  width:75px;
  word-wrap:break-word;
}
#u16016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u16016 {
  position:absolute;
  left:27px;
  top:156px;
  width:79px;
  height:37px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16017 {
  position:absolute;
  left:2px;
  top:11px;
  width:75px;
  word-wrap:break-word;
}
#u16018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u16018 {
  position:absolute;
  left:122px;
  top:156px;
  width:79px;
  height:37px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#868686;
}
#u16019 {
  position:absolute;
  left:2px;
  top:11px;
  width:75px;
  word-wrap:break-word;
}
#u16020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
}
#u16020 {
  position:absolute;
  left:27px;
  top:219px;
  width:29px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u16021 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:73px;
}
#u16022 {
  position:absolute;
  left:27px;
  top:246px;
  width:269px;
  height:72px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u16023 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  word-wrap:break-word;
}
#u16024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u16024 {
  position:absolute;
  left:27px;
  top:336px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u16025 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u16026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:49px;
}
#u16026 {
  position:absolute;
  left:27px;
  top:363px;
  width:269px;
  height:48px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u16027 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  word-wrap:break-word;
}
#u16028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:521px;
}
#u16028 {
  position:absolute;
  left:918px;
  top:10px;
  width:300px;
  height:520px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16029 {
  position:absolute;
  left:2px;
  top:252px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:52px;
}
#u16030 {
  position:absolute;
  left:918px;
  top:10px;
  width:300px;
  height:51px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u16031 {
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
}
#u16032 {
  position:absolute;
  left:1053px;
  top:34px;
  width:29px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u16033 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:11px;
}
#u16034 {
  position:absolute;
  left:924px;
  top:14px;
  width:287px;
  height:11px;
}
#u16035 {
  position:absolute;
  left:2px;
  top:-2px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:31px;
}
#u16036 {
  position:absolute;
  left:932px;
  top:29px;
  width:39px;
  height:30px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u16037 {
  position:absolute;
  left:0px;
  top:4px;
  width:39px;
  white-space:nowrap;
}
#u16038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:37px;
}
#u16038 {
  position:absolute;
  left:942px;
  top:451px;
  width:252px;
  height:36px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u16039 {
  position:absolute;
  left:2px;
  top:9px;
  width:248px;
  word-wrap:break-word;
}
#u16040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u16040 {
  position:absolute;
  left:935px;
  top:78px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u16041 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u16042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:19px;
}
#u16042 {
  position:absolute;
  left:1192px;
  top:34px;
  width:12px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u16043 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u16044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u16044 {
  position:absolute;
  left:1030px;
  top:156px;
  width:79px;
  height:37px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 255, 0.8);
}
#u16045 {
  position:absolute;
  left:2px;
  top:11px;
  width:75px;
  word-wrap:break-word;
}
#u16046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u16046 {
  position:absolute;
  left:1030px;
  top:109px;
  width:79px;
  height:37px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16047 {
  position:absolute;
  left:2px;
  top:11px;
  width:75px;
  word-wrap:break-word;
}
#u16048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u16048 {
  position:absolute;
  left:1125px;
  top:109px;
  width:79px;
  height:37px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16049 {
  position:absolute;
  left:2px;
  top:11px;
  width:75px;
  word-wrap:break-word;
}
#u16050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u16050 {
  position:absolute;
  left:935px;
  top:156px;
  width:79px;
  height:37px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16051 {
  position:absolute;
  left:2px;
  top:11px;
  width:75px;
  word-wrap:break-word;
}
#u16052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
}
#u16052 {
  position:absolute;
  left:935px;
  top:219px;
  width:29px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u16053 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:73px;
}
#u16054 {
  position:absolute;
  left:935px;
  top:246px;
  width:269px;
  height:72px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u16055 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  word-wrap:break-word;
}
#u16056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u16056 {
  position:absolute;
  left:935px;
  top:336px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u16057 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u16058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:49px;
}
#u16058 {
  position:absolute;
  left:935px;
  top:363px;
  width:269px;
  height:48px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u16059 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  word-wrap:break-word;
}
#u16060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u16060 {
  position:absolute;
  left:935px;
  top:109px;
  width:79px;
  height:37px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16061 {
  position:absolute;
  left:2px;
  top:11px;
  width:75px;
  word-wrap:break-word;
}
#u16062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:67px;
}
#u16062 {
  position:absolute;
  left:370px;
  top:391px;
  width:300px;
  height:66px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16063 {
  position:absolute;
  left:2px;
  top:25px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:193px;
}
#u16064 {
  position:absolute;
  left:370px;
  top:457px;
  width:300px;
  height:192px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16065 {
  position:absolute;
  left:2px;
  top:88px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:42px;
}
#u16066 {
  position:absolute;
  left:370px;
  top:350px;
  width:300px;
  height:41px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16067 {
  position:absolute;
  left:2px;
  top:13px;
  width:296px;
  word-wrap:break-word;
}
#u16068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:41px;
}
#u16068 {
  position:absolute;
  left:420px;
  top:404px;
  width:233px;
  height:40px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#797979;
  text-align:left;
}
#u16069 {
  position:absolute;
  left:20px;
  top:12px;
  width:211px;
  word-wrap:break-word;
}
#u16070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:49px;
}
#u16070 {
  position:absolute;
  left:370px;
  top:457px;
  width:75px;
  height:48px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u16071 {
  position:absolute;
  left:2px;
  top:16px;
  width:71px;
  word-wrap:break-word;
}
#u16072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:49px;
}
#u16072 {
  position:absolute;
  left:445px;
  top:457px;
  width:75px;
  height:48px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u16073 {
  position:absolute;
  left:2px;
  top:16px;
  width:71px;
  word-wrap:break-word;
}
#u16074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:49px;
}
#u16074 {
  position:absolute;
  left:520px;
  top:457px;
  width:75px;
  height:48px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u16075 {
  position:absolute;
  left:2px;
  top:16px;
  width:71px;
  word-wrap:break-word;
}
#u16076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:49px;
}
#u16076 {
  position:absolute;
  left:370px;
  top:505px;
  width:75px;
  height:48px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u16077 {
  position:absolute;
  left:2px;
  top:16px;
  width:71px;
  word-wrap:break-word;
}
#u16078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:49px;
}
#u16078 {
  position:absolute;
  left:445px;
  top:505px;
  width:75px;
  height:48px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u16079 {
  position:absolute;
  left:2px;
  top:16px;
  width:71px;
  word-wrap:break-word;
}
#u16080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:49px;
}
#u16080 {
  position:absolute;
  left:520px;
  top:505px;
  width:75px;
  height:48px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u16081 {
  position:absolute;
  left:2px;
  top:16px;
  width:71px;
  word-wrap:break-word;
}
#u16082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:49px;
}
#u16082 {
  position:absolute;
  left:370px;
  top:553px;
  width:75px;
  height:48px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u16083 {
  position:absolute;
  left:2px;
  top:16px;
  width:71px;
  word-wrap:break-word;
}
#u16084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:49px;
}
#u16084 {
  position:absolute;
  left:445px;
  top:553px;
  width:75px;
  height:48px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u16085 {
  position:absolute;
  left:2px;
  top:16px;
  width:71px;
  word-wrap:break-word;
}
#u16086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:49px;
}
#u16086 {
  position:absolute;
  left:520px;
  top:553px;
  width:75px;
  height:48px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u16087 {
  position:absolute;
  left:2px;
  top:16px;
  width:71px;
  word-wrap:break-word;
}
#u16088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:49px;
}
#u16088 {
  position:absolute;
  left:370px;
  top:601px;
  width:150px;
  height:48px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u16089 {
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u16090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:49px;
}
#u16090 {
  position:absolute;
  left:520px;
  top:601px;
  width:75px;
  height:48px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u16091 {
  position:absolute;
  left:2px;
  top:16px;
  width:71px;
  word-wrap:break-word;
}
#u16092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:97px;
}
#u16092 {
  position:absolute;
  left:595px;
  top:457px;
  width:75px;
  height:96px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u16093 {
  position:absolute;
  left:2px;
  top:40px;
  width:71px;
  word-wrap:break-word;
}
#u16094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:97px;
}
#u16094 {
  position:absolute;
  left:595px;
  top:553px;
  width:75px;
  height:96px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u16095 {
  position:absolute;
  left:2px;
  top:40px;
  width:71px;
  word-wrap:break-word;
}
#u16096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:41px;
}
#u16096 {
  position:absolute;
  left:376px;
  top:404px;
  width:44px;
  height:40px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16097 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  word-wrap:break-word;
}
#u16098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u16098 {
  position:absolute;
  left:387px;
  top:363px;
  width:9px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16099 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
