body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1218px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:265px;
}
#u13212 {
  position:absolute;
  left:370px;
  top:10px;
  width:500px;
  height:264px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 255, 0.8);
  line-height:24px;
}
#u13213 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u13215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:521px;
}
#u13215 {
  position:absolute;
  left:10px;
  top:10px;
  width:300px;
  height:520px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13216 {
  position:absolute;
  left:2px;
  top:252px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:52px;
}
#u13217 {
  position:absolute;
  left:10px;
  top:10px;
  width:300px;
  height:51px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u13218 {
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
}
#u13219 {
  position:absolute;
  left:145px;
  top:34px;
  width:29px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u13220 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:11px;
}
#u13221 {
  position:absolute;
  left:16px;
  top:14px;
  width:287px;
  height:11px;
}
#u13222 {
  position:absolute;
  left:2px;
  top:-2px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:31px;
}
#u13223 {
  position:absolute;
  left:24px;
  top:29px;
  width:39px;
  height:30px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u13224 {
  position:absolute;
  left:0px;
  top:4px;
  width:39px;
  white-space:nowrap;
}
#u13225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:37px;
}
#u13225 {
  position:absolute;
  left:34px;
  top:451px;
  width:252px;
  height:36px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13226 {
  position:absolute;
  left:2px;
  top:9px;
  width:248px;
  word-wrap:break-word;
}
#u13227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u13227 {
  position:absolute;
  left:27px;
  top:78px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u13228 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:19px;
}
#u13229 {
  position:absolute;
  left:284px;
  top:34px;
  width:12px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u13230 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u13231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u13231 {
  position:absolute;
  left:27px;
  top:109px;
  width:79px;
  height:37px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 255, 0.8);
}
#u13232 {
  position:absolute;
  left:2px;
  top:11px;
  width:75px;
  word-wrap:break-word;
}
#u13233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u13233 {
  position:absolute;
  left:122px;
  top:109px;
  width:79px;
  height:37px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13234 {
  position:absolute;
  left:2px;
  top:11px;
  width:75px;
  word-wrap:break-word;
}
#u13235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u13235 {
  position:absolute;
  left:217px;
  top:109px;
  width:79px;
  height:37px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13236 {
  position:absolute;
  left:2px;
  top:11px;
  width:75px;
  word-wrap:break-word;
}
#u13237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u13237 {
  position:absolute;
  left:27px;
  top:156px;
  width:79px;
  height:37px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13238 {
  position:absolute;
  left:2px;
  top:11px;
  width:75px;
  word-wrap:break-word;
}
#u13239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u13239 {
  position:absolute;
  left:122px;
  top:156px;
  width:79px;
  height:37px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#868686;
}
#u13240 {
  position:absolute;
  left:2px;
  top:11px;
  width:75px;
  word-wrap:break-word;
}
#u13241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
}
#u13241 {
  position:absolute;
  left:27px;
  top:219px;
  width:29px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u13242 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:73px;
}
#u13243 {
  position:absolute;
  left:27px;
  top:246px;
  width:269px;
  height:72px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u13244 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  word-wrap:break-word;
}
#u13245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u13245 {
  position:absolute;
  left:27px;
  top:336px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u13246 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:49px;
}
#u13247 {
  position:absolute;
  left:27px;
  top:363px;
  width:269px;
  height:48px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u13248 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  word-wrap:break-word;
}
#u13249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:521px;
}
#u13249 {
  position:absolute;
  left:918px;
  top:10px;
  width:300px;
  height:520px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13250 {
  position:absolute;
  left:2px;
  top:252px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:52px;
}
#u13251 {
  position:absolute;
  left:918px;
  top:10px;
  width:300px;
  height:51px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u13252 {
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
}
#u13253 {
  position:absolute;
  left:1053px;
  top:34px;
  width:29px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u13254 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:11px;
}
#u13255 {
  position:absolute;
  left:924px;
  top:14px;
  width:287px;
  height:11px;
}
#u13256 {
  position:absolute;
  left:2px;
  top:-2px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:31px;
}
#u13257 {
  position:absolute;
  left:932px;
  top:29px;
  width:39px;
  height:30px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u13258 {
  position:absolute;
  left:0px;
  top:4px;
  width:39px;
  white-space:nowrap;
}
#u13259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:37px;
}
#u13259 {
  position:absolute;
  left:942px;
  top:451px;
  width:252px;
  height:36px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13260 {
  position:absolute;
  left:2px;
  top:9px;
  width:248px;
  word-wrap:break-word;
}
#u13261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u13261 {
  position:absolute;
  left:935px;
  top:78px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u13262 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:19px;
}
#u13263 {
  position:absolute;
  left:1192px;
  top:34px;
  width:12px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u13264 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u13265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u13265 {
  position:absolute;
  left:1030px;
  top:156px;
  width:79px;
  height:37px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 255, 0.8);
}
#u13266 {
  position:absolute;
  left:2px;
  top:11px;
  width:75px;
  word-wrap:break-word;
}
#u13267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u13267 {
  position:absolute;
  left:1030px;
  top:109px;
  width:79px;
  height:37px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13268 {
  position:absolute;
  left:2px;
  top:11px;
  width:75px;
  word-wrap:break-word;
}
#u13269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u13269 {
  position:absolute;
  left:1125px;
  top:109px;
  width:79px;
  height:37px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13270 {
  position:absolute;
  left:2px;
  top:11px;
  width:75px;
  word-wrap:break-word;
}
#u13271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u13271 {
  position:absolute;
  left:935px;
  top:156px;
  width:79px;
  height:37px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13272 {
  position:absolute;
  left:2px;
  top:11px;
  width:75px;
  word-wrap:break-word;
}
#u13273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
}
#u13273 {
  position:absolute;
  left:935px;
  top:219px;
  width:29px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u13274 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:73px;
}
#u13275 {
  position:absolute;
  left:935px;
  top:246px;
  width:269px;
  height:72px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u13276 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  word-wrap:break-word;
}
#u13277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u13277 {
  position:absolute;
  left:935px;
  top:336px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u13278 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:49px;
}
#u13279 {
  position:absolute;
  left:935px;
  top:363px;
  width:269px;
  height:48px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u13280 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  word-wrap:break-word;
}
#u13281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u13281 {
  position:absolute;
  left:935px;
  top:109px;
  width:79px;
  height:37px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13282 {
  position:absolute;
  left:2px;
  top:11px;
  width:75px;
  word-wrap:break-word;
}
#u13283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:67px;
}
#u13283 {
  position:absolute;
  left:370px;
  top:391px;
  width:300px;
  height:66px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13284 {
  position:absolute;
  left:2px;
  top:25px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:193px;
}
#u13285 {
  position:absolute;
  left:370px;
  top:457px;
  width:300px;
  height:192px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13286 {
  position:absolute;
  left:2px;
  top:88px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:42px;
}
#u13287 {
  position:absolute;
  left:370px;
  top:350px;
  width:300px;
  height:41px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13288 {
  position:absolute;
  left:2px;
  top:13px;
  width:296px;
  word-wrap:break-word;
}
#u13289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:41px;
}
#u13289 {
  position:absolute;
  left:420px;
  top:404px;
  width:233px;
  height:40px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#797979;
  text-align:left;
}
#u13290 {
  position:absolute;
  left:20px;
  top:12px;
  width:211px;
  word-wrap:break-word;
}
#u13291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:49px;
}
#u13291 {
  position:absolute;
  left:370px;
  top:457px;
  width:75px;
  height:48px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13292 {
  position:absolute;
  left:2px;
  top:16px;
  width:71px;
  word-wrap:break-word;
}
#u13293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:49px;
}
#u13293 {
  position:absolute;
  left:445px;
  top:457px;
  width:75px;
  height:48px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13294 {
  position:absolute;
  left:2px;
  top:16px;
  width:71px;
  word-wrap:break-word;
}
#u13295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:49px;
}
#u13295 {
  position:absolute;
  left:520px;
  top:457px;
  width:75px;
  height:48px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13296 {
  position:absolute;
  left:2px;
  top:16px;
  width:71px;
  word-wrap:break-word;
}
#u13297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:49px;
}
#u13297 {
  position:absolute;
  left:370px;
  top:505px;
  width:75px;
  height:48px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13298 {
  position:absolute;
  left:2px;
  top:16px;
  width:71px;
  word-wrap:break-word;
}
#u13299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:49px;
}
#u13299 {
  position:absolute;
  left:445px;
  top:505px;
  width:75px;
  height:48px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13300 {
  position:absolute;
  left:2px;
  top:16px;
  width:71px;
  word-wrap:break-word;
}
#u13301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:49px;
}
#u13301 {
  position:absolute;
  left:520px;
  top:505px;
  width:75px;
  height:48px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13302 {
  position:absolute;
  left:2px;
  top:16px;
  width:71px;
  word-wrap:break-word;
}
#u13303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:49px;
}
#u13303 {
  position:absolute;
  left:370px;
  top:553px;
  width:75px;
  height:48px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13304 {
  position:absolute;
  left:2px;
  top:16px;
  width:71px;
  word-wrap:break-word;
}
#u13305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:49px;
}
#u13305 {
  position:absolute;
  left:445px;
  top:553px;
  width:75px;
  height:48px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13306 {
  position:absolute;
  left:2px;
  top:16px;
  width:71px;
  word-wrap:break-word;
}
#u13307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:49px;
}
#u13307 {
  position:absolute;
  left:520px;
  top:553px;
  width:75px;
  height:48px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13308 {
  position:absolute;
  left:2px;
  top:16px;
  width:71px;
  word-wrap:break-word;
}
#u13309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:49px;
}
#u13309 {
  position:absolute;
  left:370px;
  top:601px;
  width:150px;
  height:48px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13310 {
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u13311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:49px;
}
#u13311 {
  position:absolute;
  left:520px;
  top:601px;
  width:75px;
  height:48px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13312 {
  position:absolute;
  left:2px;
  top:16px;
  width:71px;
  word-wrap:break-word;
}
#u13313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:97px;
}
#u13313 {
  position:absolute;
  left:595px;
  top:457px;
  width:75px;
  height:96px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13314 {
  position:absolute;
  left:2px;
  top:40px;
  width:71px;
  word-wrap:break-word;
}
#u13315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:97px;
}
#u13315 {
  position:absolute;
  left:595px;
  top:553px;
  width:75px;
  height:96px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u13316 {
  position:absolute;
  left:2px;
  top:40px;
  width:71px;
  word-wrap:break-word;
}
#u13317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:41px;
}
#u13317 {
  position:absolute;
  left:376px;
  top:404px;
  width:44px;
  height:40px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13318 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  word-wrap:break-word;
}
#u13319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u13319 {
  position:absolute;
  left:387px;
  top:363px;
  width:9px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13320 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
