body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1413px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:26px;
}
#u494 {
  position:absolute;
  left:40px;
  top:10px;
  width:81px;
  height:25px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u495 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:19px;
}
#u496 {
  position:absolute;
  left:40px;
  top:42px;
  width:213px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u497 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1404px;
  height:11px;
}
#u498 {
  position:absolute;
  left:10px;
  top:72px;
  width:1403px;
  height:10px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u499 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u500_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u500 {
  position:absolute;
  left:40px;
  top:92px;
  width:94px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u501 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u502_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u502 {
  position:absolute;
  left:159px;
  top:92px;
  width:94px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u503 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u504 {
  position:absolute;
  left:279px;
  top:92px;
  width:94px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u505 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u506_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1374px;
  height:2px;
}
#u506 {
  position:absolute;
  left:40px;
  top:139px;
  width:1373px;
  height:1px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u507 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u508_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u508 {
  position:absolute;
  left:40px;
  top:202px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u509 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u510_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
}
#u510 {
  position:absolute;
  left:40px;
  top:253px;
  width:43px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u511 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u512 {
  position:absolute;
  left:107px;
  top:247px;
  width:175px;
  height:30px;
}
#u512_input {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u512_input:disabled {
  color:grayText;
}
#u513_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u513 {
  position:absolute;
  left:40px;
  top:306px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u514 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u515 {
  position:absolute;
  left:107px;
  top:306px;
  width:159px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u516 {
  position:absolute;
  left:16px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u515_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u517 {
  position:absolute;
  left:216px;
  top:306px;
  width:66px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u518 {
  position:absolute;
  left:16px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u517_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u519 {
  position:absolute;
  left:107px;
  top:358px;
  width:94px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u520 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u521_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u521 {
  position:absolute;
  left:1303px;
  top:92px;
  width:94px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u522 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u523 {
  position:absolute;
  left:40px;
  top:163px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u524 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u525_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
}
#u525 {
  position:absolute;
  left:107px;
  top:163px;
  width:71px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u526 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u527 {
  position:absolute;
  left:188px;
  top:161px;
  width:20px;
  height:20px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u528 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u529 {
  position:absolute;
  left:111px;
  top:196px;
  width:194px;
  height:30px;
}
#u529_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
}
#u530 {
  position:absolute;
  left:315px;
  top:306px;
  width:74px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u531 {
  position:absolute;
  left:16px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u530_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u532 {
  position:absolute;
  left:382px;
  top:300px;
  width:96px;
  height:30px;
}
#u532_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
}
#u533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u533 {
  position:absolute;
  left:488px;
  top:306px;
  width:15px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u534 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
