body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:537px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:286px;
}
#u12336 {
  position:absolute;
  left:20px;
  top:109px;
  width:517px;
  height:285px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:28px;
}
#u12337 {
  position:absolute;
  left:2px;
  top:134px;
  width:513px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:51px;
}
#u12338 {
  position:absolute;
  left:20px;
  top:59px;
  width:517px;
  height:50px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u12339 {
  position:absolute;
  left:2px;
  top:11px;
  width:513px;
  word-wrap:break-word;
}
#u12340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:26px;
}
#u12340 {
  position:absolute;
  left:504px;
  top:72px;
  width:14px;
  height:25px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u12341 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u12342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:56px;
}
#u12342 {
  position:absolute;
  left:20px;
  top:394px;
  width:517px;
  height:55px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u12343 {
  position:absolute;
  left:2px;
  top:20px;
  width:513px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:35px;
}
#u12344 {
  position:absolute;
  left:135px;
  top:405px;
  width:72px;
  height:34px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u12345 {
  position:absolute;
  left:2px;
  top:10px;
  width:68px;
  word-wrap:break-word;
}
#u12346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:35px;
}
#u12346 {
  position:absolute;
  left:224px;
  top:405px;
  width:71px;
  height:34px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u12347 {
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  word-wrap:break-word;
}
#u12348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:97px;
}
#u12348 {
  position:absolute;
  left:54px;
  top:123px;
  width:474px;
  height:96px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:24px;
}
#u12349 {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  word-wrap:break-word;
}
#u12350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
}
#u12350 {
  position:absolute;
  left:54px;
  top:240px;
  width:71px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u12351 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
}
#u12352 {
  position:absolute;
  left:162px;
  top:231px;
  width:160px;
  height:36px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#797979;
  text-align:left;
}
#u12353 {
  position:absolute;
  left:20px;
  top:10px;
  width:138px;
  word-wrap:break-word;
}
#u12354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:37px;
}
#u12354 {
  position:absolute;
  left:135px;
  top:231px;
  width:27px;
  height:36px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12355 {
  position:absolute;
  left:2px;
  top:10px;
  width:23px;
  word-wrap:break-word;
}
#u12356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:16px;
}
#u12356 {
  position:absolute;
  left:332px;
  top:249px;
  width:166px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12357 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u12358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
}
#u12358 {
  position:absolute;
  left:54px;
  top:297px;
  width:71px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u12359 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
}
#u12360 {
  position:absolute;
  left:162px;
  top:288px;
  width:160px;
  height:36px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#797979;
  text-align:left;
}
#u12361 {
  position:absolute;
  left:20px;
  top:10px;
  width:138px;
  word-wrap:break-word;
}
#u12362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:37px;
}
#u12362 {
  position:absolute;
  left:135px;
  top:288px;
  width:27px;
  height:36px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12363 {
  position:absolute;
  left:2px;
  top:10px;
  width:23px;
  word-wrap:break-word;
}
#u12364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
}
#u12364 {
  position:absolute;
  left:332px;
  top:306px;
  width:154px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12365 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u12366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
}
#u12366 {
  position:absolute;
  left:54px;
  top:351px;
  width:71px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u12367 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:37px;
}
#u12368 {
  position:absolute;
  left:135px;
  top:342px;
  width:149px;
  height:36px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#797979;
  text-align:left;
}
#u12369 {
  position:absolute;
  left:20px;
  top:10px;
  width:127px;
  word-wrap:break-word;
}
#u12370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:16px;
}
#u12370 {
  position:absolute;
  left:332px;
  top:360px;
  width:204px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12371 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u12372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:37px;
}
#u12372 {
  position:absolute;
  left:284px;
  top:342px;
  width:38px;
  height:36px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12373 {
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u12374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:142px;
}
#u12374 {
  position:absolute;
  left:190px;
  top:172px;
  width:342px;
  height:141px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u12375 {
  position:absolute;
  left:20px;
  top:18px;
  width:302px;
  word-wrap:break-word;
}
#u12376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
}
#u12376 {
  position:absolute;
  left:190px;
  top:147px;
  width:59px;
  height:25px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u12377 {
  position:absolute;
  left:5px;
  top:5px;
  width:49px;
  word-wrap:break-word;
}
#u12378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:291px;
}
#u12378 {
  position:absolute;
  left:20px;
  top:466px;
  width:517px;
  height:290px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12379 {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  word-wrap:break-word;
}
#u12380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:25px;
}
#u12380 {
  position:absolute;
  left:20px;
  top:25px;
  width:517px;
  height:24px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 255, 0.8);
  line-height:24px;
}
#u12381 {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  word-wrap:break-word;
}
