body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1476px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:26px;
}
#u13010 {
  position:absolute;
  left:40px;
  top:10px;
  width:81px;
  height:25px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u13011 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u13012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:19px;
}
#u13012 {
  position:absolute;
  left:40px;
  top:42px;
  width:135px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u13013 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u13014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1404px;
  height:11px;
}
#u13014 {
  position:absolute;
  left:10px;
  top:72px;
  width:1403px;
  height:10px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13015 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13016 {
  position:absolute;
  left:40px;
  top:100px;
  width:138px;
  height:30px;
}
#u13016_input {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u13016_input:disabled {
  color:grayText;
}
#u13017 {
  position:absolute;
  left:188px;
  top:100px;
  width:219px;
  height:30px;
}
#u13017_input {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
}
#u13018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u13018 {
  position:absolute;
  left:426px;
  top:100px;
  width:94px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u13019 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u13020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u13020 {
  position:absolute;
  left:536px;
  top:100px;
  width:94px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u13021 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u13022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:40px;
}
#u13022 {
  position:absolute;
  left:40px;
  top:157px;
  width:312px;
  height:39px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u13023 {
  position:absolute;
  left:2px;
  top:12px;
  width:308px;
  word-wrap:break-word;
}
#u13024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:40px;
}
#u13024 {
  position:absolute;
  left:352px;
  top:157px;
  width:173px;
  height:39px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u13025 {
  position:absolute;
  left:2px;
  top:12px;
  width:169px;
  word-wrap:break-word;
}
#u13026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u13026 {
  position:absolute;
  left:1144px;
  top:157px;
  width:269px;
  height:39px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u13027 {
  position:absolute;
  left:2px;
  top:12px;
  width:265px;
  word-wrap:break-word;
}
#u13028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:40px;
}
#u13028 {
  position:absolute;
  left:40px;
  top:196px;
  width:312px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13029 {
  position:absolute;
  left:2px;
  top:12px;
  width:308px;
  word-wrap:break-word;
}
#u13030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:40px;
}
#u13030 {
  position:absolute;
  left:352px;
  top:196px;
  width:173px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13031 {
  position:absolute;
  left:2px;
  top:12px;
  width:169px;
  word-wrap:break-word;
}
#u13032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u13032 {
  position:absolute;
  left:1144px;
  top:196px;
  width:269px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13033 {
  position:absolute;
  left:2px;
  top:12px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u13034 {
  position:absolute;
  left:1005px;
  top:157px;
  width:144px;
  height:39px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u13035 {
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  word-wrap:break-word;
}
#u13036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u13036 {
  position:absolute;
  left:1005px;
  top:196px;
  width:144px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13037 {
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  word-wrap:break-word;
}
#u13038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u13038 {
  position:absolute;
  left:1221px;
  top:208px;
  width:25px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u13039 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u13040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u13040 {
  position:absolute;
  left:1282px;
  top:208px;
  width:25px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u13041 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u13042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u13042 {
  position:absolute;
  left:1165px;
  top:208px;
  width:25px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u13043 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u13044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:40px;
}
#u13044 {
  position:absolute;
  left:40px;
  top:235px;
  width:312px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13045 {
  position:absolute;
  left:2px;
  top:12px;
  width:308px;
  word-wrap:break-word;
}
#u13046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:40px;
}
#u13046 {
  position:absolute;
  left:352px;
  top:235px;
  width:173px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13047 {
  position:absolute;
  left:2px;
  top:12px;
  width:169px;
  word-wrap:break-word;
}
#u13048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u13048 {
  position:absolute;
  left:1144px;
  top:235px;
  width:269px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13049 {
  position:absolute;
  left:2px;
  top:12px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u13050 {
  position:absolute;
  left:1005px;
  top:235px;
  width:144px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13051 {
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  word-wrap:break-word;
}
#u13052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u13052 {
  position:absolute;
  left:1221px;
  top:247px;
  width:25px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u13053 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u13054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u13054 {
  position:absolute;
  left:1282px;
  top:247px;
  width:25px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u13055 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u13056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u13056 {
  position:absolute;
  left:1165px;
  top:247px;
  width:25px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u13057 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u13058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
}
#u13058 {
  position:absolute;
  left:878px;
  top:157px;
  width:127px;
  height:39px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u13059 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  word-wrap:break-word;
}
#u13060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
}
#u13060 {
  position:absolute;
  left:878px;
  top:196px;
  width:127px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13061 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  word-wrap:break-word;
}
#u13062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
}
#u13062 {
  position:absolute;
  left:878px;
  top:235px;
  width:127px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13063 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  word-wrap:break-word;
}
#u13064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:40px;
}
#u13064 {
  position:absolute;
  left:40px;
  top:274px;
  width:312px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13065 {
  position:absolute;
  left:2px;
  top:12px;
  width:308px;
  word-wrap:break-word;
}
#u13066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:40px;
}
#u13066 {
  position:absolute;
  left:352px;
  top:274px;
  width:173px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13067 {
  position:absolute;
  left:2px;
  top:12px;
  width:169px;
  word-wrap:break-word;
}
#u13068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u13068 {
  position:absolute;
  left:1144px;
  top:274px;
  width:269px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13069 {
  position:absolute;
  left:2px;
  top:12px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u13070 {
  position:absolute;
  left:1005px;
  top:274px;
  width:144px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13071 {
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  word-wrap:break-word;
}
#u13072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u13072 {
  position:absolute;
  left:1221px;
  top:286px;
  width:25px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u13073 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u13074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u13074 {
  position:absolute;
  left:1282px;
  top:286px;
  width:25px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u13075 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u13076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u13076 {
  position:absolute;
  left:1165px;
  top:286px;
  width:25px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u13077 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u13078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
}
#u13078 {
  position:absolute;
  left:878px;
  top:274px;
  width:127px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13079 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  word-wrap:break-word;
}
#u13080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:40px;
}
#u13080 {
  position:absolute;
  left:40px;
  top:313px;
  width:312px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13081 {
  position:absolute;
  left:2px;
  top:12px;
  width:308px;
  word-wrap:break-word;
}
#u13082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:40px;
}
#u13082 {
  position:absolute;
  left:352px;
  top:313px;
  width:173px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13083 {
  position:absolute;
  left:2px;
  top:12px;
  width:169px;
  word-wrap:break-word;
}
#u13084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u13084 {
  position:absolute;
  left:1144px;
  top:313px;
  width:269px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13085 {
  position:absolute;
  left:2px;
  top:12px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u13086 {
  position:absolute;
  left:1005px;
  top:313px;
  width:144px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13087 {
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  word-wrap:break-word;
}
#u13088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u13088 {
  position:absolute;
  left:1221px;
  top:325px;
  width:25px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u13089 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u13090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u13090 {
  position:absolute;
  left:1282px;
  top:325px;
  width:25px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u13091 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u13092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u13092 {
  position:absolute;
  left:1165px;
  top:325px;
  width:25px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u13093 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u13094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
}
#u13094 {
  position:absolute;
  left:878px;
  top:313px;
  width:127px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13095 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  word-wrap:break-word;
}
#u13096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u13096 {
  position:absolute;
  left:1344px;
  top:208px;
  width:49px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u13097 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u13098 {
  position:absolute;
  left:1344px;
  top:247px;
  width:49px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u13099 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u13100 {
  position:absolute;
  left:1344px;
  top:286px;
  width:49px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u13101 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u13102 {
  position:absolute;
  left:1344px;
  top:325px;
  width:49px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u13103 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:28px;
}
#u13104 {
  position:absolute;
  left:1059px;
  top:454px;
  width:354px;
  height:28px;
}
#u13105 {
  position:absolute;
  left:2px;
  top:6px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:19px;
}
#u13106 {
  position:absolute;
  left:764px;
  top:459px;
  width:285px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u13107 {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  white-space:nowrap;
}
#u13108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:744px;
  height:433px;
}
#u13108 {
  position:absolute;
  left:81px;
  top:561px;
  width:743px;
  height:432px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 255, 0.8);
  line-height:24px;
}
#u13109 {
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  word-wrap:break-word;
}
#u13110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:317px;
}
#u13110 {
  position:absolute;
  left:969px;
  top:567px;
  width:507px;
  height:316px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13111 {
  position:absolute;
  left:2px;
  top:150px;
  width:503px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:97px;
}
#u13112 {
  position:absolute;
  left:1175px;
  top:610px;
  width:95px;
  height:97px;
}
#u13113 {
  position:absolute;
  left:2px;
  top:40px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u13114 {
  position:absolute;
  left:1229px;
  top:799px;
  width:100px;
  height:40px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u13115 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u13116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u13116 {
  position:absolute;
  left:1117px;
  top:799px;
  width:100px;
  height:40px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#363636;
}
#u13117 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u13118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:19px;
}
#u13118 {
  position:absolute;
  left:1148px;
  top:764px;
  width:169px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u13119 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u13120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:26px;
}
#u13120 {
  position:absolute;
  left:1192px;
  top:727px;
  width:81px;
  height:25px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u13121 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u13122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:317px;
}
#u13122 {
  position:absolute;
  left:969px;
  top:918px;
  width:507px;
  height:316px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13123 {
  position:absolute;
  left:2px;
  top:150px;
  width:503px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:97px;
}
#u13124 {
  position:absolute;
  left:1175px;
  top:961px;
  width:95px;
  height:97px;
}
#u13125 {
  position:absolute;
  left:2px;
  top:40px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u13126 {
  position:absolute;
  left:1229px;
  top:1150px;
  width:100px;
  height:40px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u13127 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u13128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u13128 {
  position:absolute;
  left:1117px;
  top:1150px;
  width:100px;
  height:40px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#363636;
}
#u13129 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u13130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:19px;
}
#u13130 {
  position:absolute;
  left:1162px;
  top:1115px;
  width:141px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u13131 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u13132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:26px;
}
#u13132 {
  position:absolute;
  left:1152px;
  top:1078px;
  width:161px;
  height:25px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u13133 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u13134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:317px;
}
#u13134 {
  position:absolute;
  left:429px;
  top:1263px;
  width:507px;
  height:316px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13135 {
  position:absolute;
  left:2px;
  top:150px;
  width:503px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:97px;
}
#u13136 {
  position:absolute;
  left:635px;
  top:1306px;
  width:95px;
  height:97px;
}
#u13137 {
  position:absolute;
  left:2px;
  top:40px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u13138 {
  position:absolute;
  left:689px;
  top:1495px;
  width:100px;
  height:40px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u13139 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u13140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u13140 {
  position:absolute;
  left:577px;
  top:1495px;
  width:100px;
  height:40px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#363636;
}
#u13141 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u13142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:19px;
}
#u13142 {
  position:absolute;
  left:608px;
  top:1460px;
  width:169px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u13143 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u13144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:26px;
}
#u13144 {
  position:absolute;
  left:652px;
  top:1423px;
  width:81px;
  height:25px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u13145 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u13146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:317px;
}
#u13146 {
  position:absolute;
  left:969px;
  top:1263px;
  width:507px;
  height:316px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13147 {
  position:absolute;
  left:2px;
  top:150px;
  width:503px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:97px;
}
#u13148 {
  position:absolute;
  left:1175px;
  top:1306px;
  width:95px;
  height:97px;
}
#u13149 {
  position:absolute;
  left:2px;
  top:40px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u13150 {
  position:absolute;
  left:1229px;
  top:1495px;
  width:100px;
  height:40px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u13151 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u13152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u13152 {
  position:absolute;
  left:1117px;
  top:1495px;
  width:100px;
  height:40px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#363636;
}
#u13153 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u13154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:19px;
}
#u13154 {
  position:absolute;
  left:1137px;
  top:1460px;
  width:197px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u13155 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u13156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:26px;
}
#u13156 {
  position:absolute;
  left:1192px;
  top:1423px;
  width:81px;
  height:25px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u13157 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u13158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:40px;
}
#u13158 {
  position:absolute;
  left:40px;
  top:352px;
  width:312px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13159 {
  position:absolute;
  left:2px;
  top:12px;
  width:308px;
  word-wrap:break-word;
}
#u13160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:40px;
}
#u13160 {
  position:absolute;
  left:352px;
  top:352px;
  width:173px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13161 {
  position:absolute;
  left:2px;
  top:12px;
  width:169px;
  word-wrap:break-word;
}
#u13162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u13162 {
  position:absolute;
  left:1144px;
  top:352px;
  width:269px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13163 {
  position:absolute;
  left:2px;
  top:12px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u13164 {
  position:absolute;
  left:1005px;
  top:352px;
  width:144px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13165 {
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  word-wrap:break-word;
}
#u13166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u13166 {
  position:absolute;
  left:1221px;
  top:364px;
  width:25px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u13167 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u13168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u13168 {
  position:absolute;
  left:1282px;
  top:364px;
  width:25px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u13169 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u13170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u13170 {
  position:absolute;
  left:1165px;
  top:364px;
  width:25px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u13171 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u13172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
}
#u13172 {
  position:absolute;
  left:878px;
  top:352px;
  width:127px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13173 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  word-wrap:break-word;
}
#u13174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u13174 {
  position:absolute;
  left:1344px;
  top:364px;
  width:49px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u13175 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:40px;
}
#u13176 {
  position:absolute;
  left:706px;
  top:157px;
  width:173px;
  height:39px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u13177 {
  position:absolute;
  left:2px;
  top:12px;
  width:169px;
  word-wrap:break-word;
}
#u13178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:40px;
}
#u13178 {
  position:absolute;
  left:706px;
  top:196px;
  width:173px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13179 {
  position:absolute;
  left:2px;
  top:12px;
  width:169px;
  word-wrap:break-word;
}
#u13180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:40px;
}
#u13180 {
  position:absolute;
  left:706px;
  top:235px;
  width:173px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13181 {
  position:absolute;
  left:2px;
  top:12px;
  width:169px;
  word-wrap:break-word;
}
#u13182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:40px;
}
#u13182 {
  position:absolute;
  left:706px;
  top:274px;
  width:173px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13183 {
  position:absolute;
  left:2px;
  top:12px;
  width:169px;
  word-wrap:break-word;
}
#u13184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:40px;
}
#u13184 {
  position:absolute;
  left:706px;
  top:313px;
  width:173px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13185 {
  position:absolute;
  left:2px;
  top:12px;
  width:169px;
  word-wrap:break-word;
}
#u13186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:40px;
}
#u13186 {
  position:absolute;
  left:706px;
  top:352px;
  width:173px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13187 {
  position:absolute;
  left:2px;
  top:12px;
  width:169px;
  word-wrap:break-word;
}
#u13188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:40px;
}
#u13188 {
  position:absolute;
  left:525px;
  top:157px;
  width:181px;
  height:39px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u13189 {
  position:absolute;
  left:2px;
  top:12px;
  width:177px;
  word-wrap:break-word;
}
#u13190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:40px;
}
#u13190 {
  position:absolute;
  left:525px;
  top:196px;
  width:181px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13191 {
  position:absolute;
  left:2px;
  top:12px;
  width:177px;
  word-wrap:break-word;
}
#u13192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:40px;
}
#u13192 {
  position:absolute;
  left:525px;
  top:235px;
  width:181px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13193 {
  position:absolute;
  left:2px;
  top:12px;
  width:177px;
  word-wrap:break-word;
}
#u13194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:40px;
}
#u13194 {
  position:absolute;
  left:525px;
  top:274px;
  width:181px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13195 {
  position:absolute;
  left:2px;
  top:12px;
  width:177px;
  word-wrap:break-word;
}
#u13196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:40px;
}
#u13196 {
  position:absolute;
  left:525px;
  top:313px;
  width:181px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13197 {
  position:absolute;
  left:2px;
  top:12px;
  width:177px;
  word-wrap:break-word;
}
#u13198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:40px;
}
#u13198 {
  position:absolute;
  left:525px;
  top:352px;
  width:181px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13199 {
  position:absolute;
  left:2px;
  top:12px;
  width:177px;
  word-wrap:break-word;
}
#u13200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:40px;
}
#u13200 {
  position:absolute;
  left:40px;
  top:389px;
  width:312px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13201 {
  position:absolute;
  left:2px;
  top:12px;
  width:308px;
  word-wrap:break-word;
}
#u13202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:40px;
}
#u13202 {
  position:absolute;
  left:352px;
  top:389px;
  width:173px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13203 {
  position:absolute;
  left:2px;
  top:12px;
  width:169px;
  word-wrap:break-word;
}
#u13204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u13204 {
  position:absolute;
  left:1144px;
  top:389px;
  width:269px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13205 {
  position:absolute;
  left:2px;
  top:12px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u13206 {
  position:absolute;
  left:1005px;
  top:389px;
  width:144px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13207 {
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  word-wrap:break-word;
}
#u13208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u13208 {
  position:absolute;
  left:1221px;
  top:401px;
  width:25px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u13209 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u13210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u13210 {
  position:absolute;
  left:1282px;
  top:401px;
  width:25px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u13211 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u13212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u13212 {
  position:absolute;
  left:1165px;
  top:401px;
  width:25px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u13213 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u13214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
}
#u13214 {
  position:absolute;
  left:878px;
  top:389px;
  width:127px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13215 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  word-wrap:break-word;
}
#u13216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u13216 {
  position:absolute;
  left:1344px;
  top:401px;
  width:49px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u13217 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:40px;
}
#u13218 {
  position:absolute;
  left:706px;
  top:389px;
  width:173px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13219 {
  position:absolute;
  left:2px;
  top:12px;
  width:169px;
  word-wrap:break-word;
}
#u13220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:40px;
}
#u13220 {
  position:absolute;
  left:525px;
  top:389px;
  width:181px;
  height:39px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13221 {
  position:absolute;
  left:2px;
  top:12px;
  width:177px;
  word-wrap:break-word;
}
