body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1413px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:26px;
}
#u679 {
  position:absolute;
  left:40px;
  top:10px;
  width:81px;
  height:25px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u680 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:19px;
}
#u681 {
  position:absolute;
  left:40px;
  top:42px;
  width:213px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u682 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1404px;
  height:11px;
}
#u683 {
  position:absolute;
  left:10px;
  top:72px;
  width:1403px;
  height:10px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u684 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u685 {
  position:absolute;
  left:40px;
  top:92px;
  width:94px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u686 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u687 {
  position:absolute;
  left:159px;
  top:92px;
  width:94px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u688 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u689 {
  position:absolute;
  left:279px;
  top:92px;
  width:94px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u690 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1374px;
  height:2px;
}
#u691 {
  position:absolute;
  left:40px;
  top:139px;
  width:1373px;
  height:1px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u692 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
}
#u693 {
  position:absolute;
  left:40px;
  top:249px;
  width:43px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u694 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u695 {
  position:absolute;
  left:107px;
  top:243px;
  width:175px;
  height:30px;
}
#u695_input {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u695_input:disabled {
  color:grayText;
}
#u696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u696 {
  position:absolute;
  left:40px;
  top:205px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u697 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:19px;
}
#u698 {
  position:absolute;
  left:107px;
  top:205px;
  width:141px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u699 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u700 {
  position:absolute;
  left:258px;
  top:201px;
  width:60px;
  height:26px;
}
#u700_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:19px;
}
#u701 {
  position:absolute;
  left:328px;
  top:205px;
  width:127px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u702 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u703 {
  position:absolute;
  left:107px;
  top:289px;
  width:94px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u704 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u705 {
  position:absolute;
  left:1303px;
  top:92px;
  width:94px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u706 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u707 {
  position:absolute;
  left:40px;
  top:162px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u708 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
}
#u709 {
  position:absolute;
  left:107px;
  top:162px;
  width:71px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u710 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
