body {
  margin:0px;
  background-color:rgba(199, 237, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1040px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1041px;
  height:364px;
}
#u22006 {
  position:absolute;
  left:0px;
  top:40px;
  width:1040px;
  height:363px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22007 {
  position:absolute;
  left:2px;
  top:174px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1041px;
  height:41px;
}
#u22008 {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:40px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22009 {
  position:absolute;
  left:2px;
  top:12px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:11px;
}
#u22010 {
  position:absolute;
  left:1002px;
  top:15px;
  width:11px;
  height:10px;
}
#u22011 {
  position:absolute;
  left:2px;
  top:-3px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1041px;
  height:41px;
}
#u22012 {
  position:absolute;
  left:0px;
  top:403px;
  width:1040px;
  height:40px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22013 {
  position:absolute;
  left:2px;
  top:12px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u22014 {
  position:absolute;
  left:880px;
  top:408px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22015 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u22016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u22016 {
  position:absolute;
  left:910px;
  top:408px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22017 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u22018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u22018 {
  position:absolute;
  left:940px;
  top:408px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22019 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u22020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u22020 {
  position:absolute;
  left:970px;
  top:408px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22021 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u22022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u22022 {
  position:absolute;
  left:1000px;
  top:408px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22023 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u22024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u22024 {
  position:absolute;
  left:10px;
  top:416px;
  width:119px;
  height:15px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#797979;
}
#u22025 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u22026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:18px;
}
#u22026 {
  position:absolute;
  left:25px;
  top:12px;
  width:66px;
  height:17px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u22027 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u22028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1021px;
  height:91px;
}
#u22028 {
  position:absolute;
  left:10px;
  top:80px;
  width:1020px;
  height:90px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22029 {
  position:absolute;
  left:2px;
  top:37px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1021px;
  height:36px;
}
#u22030 {
  position:absolute;
  left:10px;
  top:45px;
  width:1020px;
  height:35px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22031 {
  position:absolute;
  left:2px;
  top:10px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1021px;
  height:46px;
}
#u22032 {
  position:absolute;
  left:10px;
  top:80px;
  width:1020px;
  height:45px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22033 {
  position:absolute;
  left:2px;
  top:14px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
}
#u22034 {
  position:absolute;
  left:184px;
  top:53px;
  width:61px;
  height:20px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u22035 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u22036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
}
#u22036 {
  position:absolute;
  left:385px;
  top:53px;
  width:49px;
  height:20px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u22037 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u22038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
}
#u22038 {
  position:absolute;
  left:703px;
  top:53px;
  width:49px;
  height:20px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u22039 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u22040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u22040 {
  position:absolute;
  left:867px;
  top:53px;
  width:25px;
  height:20px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u22041 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u22042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
}
#u22042 {
  position:absolute;
  left:52px;
  top:53px;
  width:61px;
  height:20px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u22043 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u22044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:21px;
}
#u22044 {
  position:absolute;
  left:61px;
  top:93px;
  width:8px;
  height:20px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u22045 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u22046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:21px;
}
#u22046 {
  position:absolute;
  left:61px;
  top:138px;
  width:8px;
  height:20px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u22047 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u22048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:21px;
}
#u22048 {
  position:absolute;
  left:184px;
  top:93px;
  width:73px;
  height:20px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u22049 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u22050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:21px;
}
#u22050 {
  position:absolute;
  left:703px;
  top:93px;
  width:8px;
  height:20px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u22051 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u22052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u22052 {
  position:absolute;
  left:867px;
  top:93px;
  width:25px;
  height:20px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#53B567;
  line-height:20px;
}
#u22053 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u22054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:21px;
}
#u22054 {
  position:absolute;
  left:184px;
  top:138px;
  width:66px;
  height:20px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u22055 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u22056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:21px;
}
#u22056 {
  position:absolute;
  left:703px;
  top:138px;
  width:15px;
  height:20px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u22057 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u22058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u22058 {
  position:absolute;
  left:867px;
  top:138px;
  width:25px;
  height:20px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#53B567;
  line-height:20px;
}
#u22059 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u22060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:21px;
}
#u22060 {
  position:absolute;
  left:385px;
  top:93px;
  width:198px;
  height:20px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u22061 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  white-space:nowrap;
}
#u22062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:21px;
}
#u22062 {
  position:absolute;
  left:385px;
  top:138px;
  width:198px;
  height:20px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u22063 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  white-space:nowrap;
}
#u22064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:222px;
}
#u22064 {
  position:absolute;
  left:20px;
  top:493px;
  width:500px;
  height:221px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
  line-height:20px;
}
#u22065 {
  position:absolute;
  left:5px;
  top:5px;
  width:490px;
  word-wrap:break-word;
}
#u22066 {
  position:absolute;
  left:983px;
  top:0px;
  width:50px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
