body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:870px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u15963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:521px;
}
#u15963 {
  position:absolute;
  left:10px;
  top:10px;
  width:300px;
  height:520px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u15964 {
  position:absolute;
  left:2px;
  top:252px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:52px;
}
#u15965 {
  position:absolute;
  left:10px;
  top:10px;
  width:300px;
  height:51px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u15966 {
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
}
#u15967 {
  position:absolute;
  left:145px;
  top:34px;
  width:29px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u15968 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u15969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:11px;
}
#u15969 {
  position:absolute;
  left:16px;
  top:14px;
  width:287px;
  height:11px;
}
#u15970 {
  position:absolute;
  left:2px;
  top:-2px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:31px;
}
#u15971 {
  position:absolute;
  left:24px;
  top:29px;
  width:39px;
  height:30px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u15972 {
  position:absolute;
  left:0px;
  top:4px;
  width:39px;
  white-space:nowrap;
}
#u15973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:37px;
}
#u15973 {
  position:absolute;
  left:34px;
  top:303px;
  width:252px;
  height:36px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u15974 {
  position:absolute;
  left:2px;
  top:9px;
  width:248px;
  word-wrap:break-word;
}
#u15975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:37px;
}
#u15975 {
  position:absolute;
  left:34px;
  top:349px;
  width:252px;
  height:36px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u15976 {
  position:absolute;
  left:2px;
  top:10px;
  width:248px;
  word-wrap:break-word;
}
#u15977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:124px;
}
#u15977 {
  position:absolute;
  left:70px;
  top:84px;
  width:181px;
  height:123px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u15978 {
  position:absolute;
  left:2px;
  top:54px;
  width:177px;
  word-wrap:break-word;
}
#u15979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u15979 {
  position:absolute;
  left:136px;
  top:222px;
  width:49px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u15980 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u15981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:31px;
}
#u15981 {
  position:absolute;
  left:103px;
  top:247px;
  width:115px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u15982 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u15983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u15983 {
  position:absolute;
  left:124px;
  top:430px;
  width:73px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 255, 0.8);
  text-align:center;
}
#u15984 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u15985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:19px;
}
#u15985 {
  position:absolute;
  left:284px;
  top:34px;
  width:12px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u15986 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u15987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:16px;
}
#u15987 {
  position:absolute;
  left:28px;
  top:402px;
  width:265px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u15988 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u15989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:169px;
}
#u15989 {
  position:absolute;
  left:370px;
  top:10px;
  width:500px;
  height:168px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 255, 0.8);
  line-height:24px;
}
#u15990 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
