body {
  margin:0px;
  background-color:rgba(199, 237, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1040px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1041px;
  height:364px;
}
#u21945 {
  position:absolute;
  left:0px;
  top:40px;
  width:1040px;
  height:363px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u21946 {
  position:absolute;
  left:2px;
  top:174px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1041px;
  height:41px;
}
#u21947 {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:40px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u21948 {
  position:absolute;
  left:2px;
  top:12px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:11px;
}
#u21949 {
  position:absolute;
  left:1002px;
  top:15px;
  width:11px;
  height:10px;
}
#u21950 {
  position:absolute;
  left:2px;
  top:-3px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1021px;
  height:91px;
}
#u21951 {
  position:absolute;
  left:10px;
  top:80px;
  width:1020px;
  height:90px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u21952 {
  position:absolute;
  left:2px;
  top:37px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1021px;
  height:36px;
}
#u21953 {
  position:absolute;
  left:10px;
  top:45px;
  width:1020px;
  height:35px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u21954 {
  position:absolute;
  left:2px;
  top:10px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1021px;
  height:46px;
}
#u21955 {
  position:absolute;
  left:10px;
  top:80px;
  width:1020px;
  height:45px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u21956 {
  position:absolute;
  left:2px;
  top:14px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1041px;
  height:41px;
}
#u21957 {
  position:absolute;
  left:0px;
  top:403px;
  width:1040px;
  height:40px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u21958 {
  position:absolute;
  left:2px;
  top:12px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u21959 {
  position:absolute;
  left:880px;
  top:408px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u21960 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u21961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u21961 {
  position:absolute;
  left:910px;
  top:408px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u21962 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u21963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u21963 {
  position:absolute;
  left:940px;
  top:408px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u21964 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u21965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u21965 {
  position:absolute;
  left:970px;
  top:408px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u21966 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u21967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u21967 {
  position:absolute;
  left:1000px;
  top:408px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u21968 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u21969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u21969 {
  position:absolute;
  left:10px;
  top:416px;
  width:119px;
  height:15px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#797979;
}
#u21970 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u21971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:18px;
}
#u21971 {
  position:absolute;
  left:25px;
  top:12px;
  width:66px;
  height:17px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u21972 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u21973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
}
#u21973 {
  position:absolute;
  left:184px;
  top:53px;
  width:61px;
  height:20px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u21974 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u21975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
}
#u21975 {
  position:absolute;
  left:385px;
  top:53px;
  width:49px;
  height:20px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u21976 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u21977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
}
#u21977 {
  position:absolute;
  left:703px;
  top:53px;
  width:49px;
  height:20px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u21978 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u21979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u21979 {
  position:absolute;
  left:867px;
  top:53px;
  width:25px;
  height:20px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u21980 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u21981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
}
#u21981 {
  position:absolute;
  left:52px;
  top:53px;
  width:61px;
  height:20px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u21982 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u21983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:21px;
}
#u21983 {
  position:absolute;
  left:61px;
  top:93px;
  width:8px;
  height:20px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u21984 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u21985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:21px;
}
#u21985 {
  position:absolute;
  left:61px;
  top:138px;
  width:8px;
  height:20px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u21986 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u21987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:21px;
}
#u21987 {
  position:absolute;
  left:184px;
  top:93px;
  width:73px;
  height:20px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u21988 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u21989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:21px;
}
#u21989 {
  position:absolute;
  left:703px;
  top:93px;
  width:8px;
  height:20px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u21990 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u21991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u21991 {
  position:absolute;
  left:867px;
  top:93px;
  width:25px;
  height:20px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#53B567;
  line-height:20px;
}
#u21992 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u21993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:21px;
}
#u21993 {
  position:absolute;
  left:184px;
  top:138px;
  width:66px;
  height:20px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u21994 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u21995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:21px;
}
#u21995 {
  position:absolute;
  left:703px;
  top:138px;
  width:15px;
  height:20px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u21996 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u21997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u21997 {
  position:absolute;
  left:867px;
  top:138px;
  width:25px;
  height:20px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#53B567;
  line-height:20px;
}
#u21998 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u21999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:21px;
}
#u21999 {
  position:absolute;
  left:385px;
  top:93px;
  width:198px;
  height:20px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u22000 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  white-space:nowrap;
}
#u22001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:21px;
}
#u22001 {
  position:absolute;
  left:385px;
  top:138px;
  width:198px;
  height:20px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u22002 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  white-space:nowrap;
}
#u22003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:222px;
}
#u22003 {
  position:absolute;
  left:20px;
  top:469px;
  width:500px;
  height:221px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
  line-height:20px;
}
#u22004 {
  position:absolute;
  left:5px;
  top:5px;
  width:490px;
  word-wrap:break-word;
}
#u22005 {
  position:absolute;
  left:983px;
  top:0px;
  width:50px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
