body {
  margin:0px;
  background-color:rgba(199, 237, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1040px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1041px;
  height:41px;
}
#u22254 {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:40px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22255 {
  position:absolute;
  left:2px;
  top:12px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:11px;
}
#u22256 {
  position:absolute;
  left:1002px;
  top:15px;
  width:11px;
  height:10px;
}
#u22257 {
  position:absolute;
  left:2px;
  top:-3px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u22258 {
  position:absolute;
  left:25px;
  top:15px;
  width:10px;
  height:10px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22259 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:18px;
}
#u22260 {
  position:absolute;
  left:41px;
  top:12px;
  width:53px;
  height:17px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u22261 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u22262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1021px;
  height:312px;
}
#u22262 {
  position:absolute;
  left:10px;
  top:45px;
  width:1020px;
  height:311px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22263 {
  position:absolute;
  left:2px;
  top:148px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u22264 {
  position:absolute;
  left:84px;
  top:251px;
  width:49px;
  height:15px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22265 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u22266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
}
#u22266 {
  position:absolute;
  left:84px;
  top:127px;
  width:49px;
  height:20px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u22267 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u22268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
}
#u22268 {
  position:absolute;
  left:84px;
  top:67px;
  width:49px;
  height:20px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u22269 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u22270 {
  position:absolute;
  left:158px;
  top:62px;
  width:335px;
  height:30px;
}
#u22270_input {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#797979;
  text-align:left;
}
#u22271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:21px;
}
#u22271 {
  position:absolute;
  left:60px;
  top:188px;
  width:73px;
  height:20px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u22272 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u22273 {
  position:absolute;
  left:158px;
  top:190px;
  width:100px;
  height:16px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22274 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u22273_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22275 {
  position:absolute;
  left:269px;
  top:190px;
  width:121px;
  height:16px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22276 {
  position:absolute;
  left:16px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u22275_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:63px;
}
#u22277 {
  position:absolute;
  left:700px;
  top:167px;
  width:10px;
  height:62px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u22278 {
  position:absolute;
  left:2px;
  top:23px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
}
#u22279 {
  position:absolute;
  left:718px;
  top:188px;
  width:49px;
  height:20px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
  line-height:20px;
}
#u22280 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u22281 {
  position:absolute;
  left:158px;
  top:122px;
  width:300px;
  height:30px;
}
#u22281_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
}
#u22282 {
  position:absolute;
  left:458px;
  top:122px;
  width:35px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22283 {
  position:absolute;
  left:2px;
  top:7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u22284 {
  position:absolute;
  left:466px;
  top:126px;
  width:19px;
  height:21px;
}
#u22285 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u22286 {
  position:absolute;
  left:158px;
  top:244px;
  width:80px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22287 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u22288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:31px;
}
#u22288 {
  position:absolute;
  left:158px;
  top:309px;
  width:48px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u22289 {
  position:absolute;
  left:2px;
  top:8px;
  width:44px;
  word-wrap:break-word;
}
#u22290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:31px;
}
#u22290 {
  position:absolute;
  left:233px;
  top:309px;
  width:48px;
  height:30px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22291 {
  position:absolute;
  left:2px;
  top:8px;
  width:44px;
  word-wrap:break-word;
}
#u22292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1021px;
  height:2px;
}
#u22292 {
  position:absolute;
  left:10px;
  top:105px;
  width:1020px;
  height:1px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22293 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1021px;
  height:2px;
}
#u22294 {
  position:absolute;
  left:10px;
  top:166px;
  width:1020px;
  height:1px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22295 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1021px;
  height:2px;
}
#u22296 {
  position:absolute;
  left:10px;
  top:228px;
  width:1020px;
  height:1px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22297 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1021px;
  height:2px;
}
#u22298 {
  position:absolute;
  left:10px;
  top:288px;
  width:1020px;
  height:1px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22299 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22300 {
  position:absolute;
  left:983px;
  top:0px;
  width:50px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1031px;
  height:183px;
}
#u22301 {
  position:absolute;
  left:10px;
  top:406px;
  width:1030px;
  height:182px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
  line-height:24px;
}
#u22302 {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  word-wrap:break-word;
}
