body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:870px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:217px;
}
#u16100 {
  position:absolute;
  left:370px;
  top:10px;
  width:500px;
  height:216px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 255, 0.8);
  line-height:24px;
}
#u16101 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u16103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:521px;
}
#u16103 {
  position:absolute;
  left:10px;
  top:10px;
  width:300px;
  height:520px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16104 {
  position:absolute;
  left:2px;
  top:252px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:52px;
}
#u16105 {
  position:absolute;
  left:10px;
  top:10px;
  width:300px;
  height:51px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u16106 {
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u16107 {
  position:absolute;
  left:131px;
  top:34px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u16108 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u16109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:11px;
}
#u16109 {
  position:absolute;
  left:16px;
  top:14px;
  width:287px;
  height:11px;
}
#u16110 {
  position:absolute;
  left:2px;
  top:-2px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:31px;
}
#u16111 {
  position:absolute;
  left:24px;
  top:29px;
  width:39px;
  height:30px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u16112 {
  position:absolute;
  left:0px;
  top:4px;
  width:39px;
  white-space:nowrap;
}
#u16113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:19px;
}
#u16113 {
  position:absolute;
  left:284px;
  top:34px;
  width:12px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u16114 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u16115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:59px;
}
#u16115 {
  position:absolute;
  left:10px;
  top:61px;
  width:300px;
  height:58px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16116 {
  position:absolute;
  left:2px;
  top:21px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u16117 {
  position:absolute;
  left:27px;
  top:72px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u16118 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u16119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
}
#u16119 {
  position:absolute;
  left:27px;
  top:95px;
  width:106px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5C6873;
}
#u16120 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u16121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:26px;
}
#u16121 {
  position:absolute;
  left:269px;
  top:78px;
  width:28px;
  height:25px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#009900;
  text-align:right;
}
#u16122 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u16123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:59px;
}
#u16123 {
  position:absolute;
  left:10px;
  top:119px;
  width:300px;
  height:58px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16124 {
  position:absolute;
  left:2px;
  top:21px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u16125 {
  position:absolute;
  left:27px;
  top:130px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u16126 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u16127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
}
#u16127 {
  position:absolute;
  left:27px;
  top:153px;
  width:106px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5C6873;
}
#u16128 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u16129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:26px;
}
#u16129 {
  position:absolute;
  left:245px;
  top:136px;
  width:52px;
  height:25px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#009900;
  text-align:right;
}
#u16130 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u16131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:59px;
}
#u16131 {
  position:absolute;
  left:10px;
  top:177px;
  width:300px;
  height:58px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16132 {
  position:absolute;
  left:2px;
  top:21px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u16133 {
  position:absolute;
  left:27px;
  top:188px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u16134 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u16135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
}
#u16135 {
  position:absolute;
  left:27px;
  top:211px;
  width:106px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5C6873;
}
#u16136 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u16137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
}
#u16137 {
  position:absolute;
  left:257px;
  top:194px;
  width:40px;
  height:25px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#009900;
  text-align:right;
}
#u16138 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u16139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:59px;
}
#u16139 {
  position:absolute;
  left:10px;
  top:235px;
  width:300px;
  height:58px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u16140 {
  position:absolute;
  left:2px;
  top:21px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u16141 {
  position:absolute;
  left:27px;
  top:246px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u16142 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u16143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
}
#u16143 {
  position:absolute;
  left:27px;
  top:269px;
  width:106px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5C6873;
}
#u16144 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u16145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
}
#u16145 {
  position:absolute;
  left:222px;
  top:252px;
  width:75px;
  height:25px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:right;
}
#u16146 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
