body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:870px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:217px;
}
#u13321 {
  position:absolute;
  left:370px;
  top:10px;
  width:500px;
  height:216px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 255, 0.8);
  line-height:24px;
}
#u13322 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u13324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:521px;
}
#u13324 {
  position:absolute;
  left:10px;
  top:10px;
  width:300px;
  height:520px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13325 {
  position:absolute;
  left:2px;
  top:252px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:52px;
}
#u13326 {
  position:absolute;
  left:10px;
  top:10px;
  width:300px;
  height:51px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u13327 {
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u13328 {
  position:absolute;
  left:131px;
  top:34px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u13329 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:11px;
}
#u13330 {
  position:absolute;
  left:16px;
  top:14px;
  width:287px;
  height:11px;
}
#u13331 {
  position:absolute;
  left:2px;
  top:-2px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:31px;
}
#u13332 {
  position:absolute;
  left:24px;
  top:29px;
  width:39px;
  height:30px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u13333 {
  position:absolute;
  left:0px;
  top:4px;
  width:39px;
  white-space:nowrap;
}
#u13334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:19px;
}
#u13334 {
  position:absolute;
  left:284px;
  top:34px;
  width:12px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u13335 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u13336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:59px;
}
#u13336 {
  position:absolute;
  left:10px;
  top:61px;
  width:300px;
  height:58px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13337 {
  position:absolute;
  left:2px;
  top:21px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u13338 {
  position:absolute;
  left:27px;
  top:72px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u13339 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
}
#u13340 {
  position:absolute;
  left:27px;
  top:95px;
  width:106px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5C6873;
}
#u13341 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u13342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:26px;
}
#u13342 {
  position:absolute;
  left:269px;
  top:78px;
  width:28px;
  height:25px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#009900;
  text-align:right;
}
#u13343 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u13344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:59px;
}
#u13344 {
  position:absolute;
  left:10px;
  top:119px;
  width:300px;
  height:58px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13345 {
  position:absolute;
  left:2px;
  top:21px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u13346 {
  position:absolute;
  left:27px;
  top:130px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u13347 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
}
#u13348 {
  position:absolute;
  left:27px;
  top:153px;
  width:106px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5C6873;
}
#u13349 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u13350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:26px;
}
#u13350 {
  position:absolute;
  left:245px;
  top:136px;
  width:52px;
  height:25px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#009900;
  text-align:right;
}
#u13351 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u13352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:59px;
}
#u13352 {
  position:absolute;
  left:10px;
  top:177px;
  width:300px;
  height:58px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13353 {
  position:absolute;
  left:2px;
  top:21px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u13354 {
  position:absolute;
  left:27px;
  top:188px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u13355 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
}
#u13356 {
  position:absolute;
  left:27px;
  top:211px;
  width:106px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5C6873;
}
#u13357 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u13358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
}
#u13358 {
  position:absolute;
  left:257px;
  top:194px;
  width:40px;
  height:25px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#009900;
  text-align:right;
}
#u13359 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u13360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:59px;
}
#u13360 {
  position:absolute;
  left:10px;
  top:235px;
  width:300px;
  height:58px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13361 {
  position:absolute;
  left:2px;
  top:21px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u13362 {
  position:absolute;
  left:27px;
  top:246px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u13363 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
}
#u13364 {
  position:absolute;
  left:27px;
  top:269px;
  width:106px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5C6873;
}
#u13365 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u13366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
}
#u13366 {
  position:absolute;
  left:222px;
  top:252px;
  width:75px;
  height:25px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:right;
}
#u13367 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
