body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:870px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:217px;
}
#u12821 {
  position:absolute;
  left:370px;
  top:10px;
  width:500px;
  height:216px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 255, 0.8);
  line-height:24px;
}
#u12822 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u12824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:521px;
}
#u12824 {
  position:absolute;
  left:10px;
  top:10px;
  width:300px;
  height:520px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12825 {
  position:absolute;
  left:2px;
  top:252px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:52px;
}
#u12826 {
  position:absolute;
  left:10px;
  top:10px;
  width:300px;
  height:51px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u12827 {
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u12828 {
  position:absolute;
  left:131px;
  top:34px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u12829 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:11px;
}
#u12830 {
  position:absolute;
  left:16px;
  top:14px;
  width:287px;
  height:11px;
}
#u12831 {
  position:absolute;
  left:2px;
  top:-2px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:31px;
}
#u12832 {
  position:absolute;
  left:24px;
  top:29px;
  width:39px;
  height:30px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u12833 {
  position:absolute;
  left:0px;
  top:4px;
  width:39px;
  white-space:nowrap;
}
#u12834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:19px;
}
#u12834 {
  position:absolute;
  left:284px;
  top:34px;
  width:12px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u12835 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u12836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:59px;
}
#u12836 {
  position:absolute;
  left:10px;
  top:61px;
  width:300px;
  height:58px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12837 {
  position:absolute;
  left:2px;
  top:21px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u12838 {
  position:absolute;
  left:27px;
  top:72px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u12839 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
}
#u12840 {
  position:absolute;
  left:27px;
  top:95px;
  width:106px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5C6873;
}
#u12841 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u12842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:26px;
}
#u12842 {
  position:absolute;
  left:269px;
  top:78px;
  width:28px;
  height:25px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#009900;
  text-align:right;
}
#u12843 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u12844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:59px;
}
#u12844 {
  position:absolute;
  left:10px;
  top:119px;
  width:300px;
  height:58px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12845 {
  position:absolute;
  left:2px;
  top:21px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u12846 {
  position:absolute;
  left:27px;
  top:130px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u12847 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
}
#u12848 {
  position:absolute;
  left:27px;
  top:153px;
  width:106px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5C6873;
}
#u12849 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u12850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:26px;
}
#u12850 {
  position:absolute;
  left:245px;
  top:136px;
  width:52px;
  height:25px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#009900;
  text-align:right;
}
#u12851 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u12852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:59px;
}
#u12852 {
  position:absolute;
  left:10px;
  top:177px;
  width:300px;
  height:58px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12853 {
  position:absolute;
  left:2px;
  top:21px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u12854 {
  position:absolute;
  left:27px;
  top:188px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u12855 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
}
#u12856 {
  position:absolute;
  left:27px;
  top:211px;
  width:106px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5C6873;
}
#u12857 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u12858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
}
#u12858 {
  position:absolute;
  left:257px;
  top:194px;
  width:40px;
  height:25px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#009900;
  text-align:right;
}
#u12859 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u12860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:59px;
}
#u12860 {
  position:absolute;
  left:10px;
  top:235px;
  width:300px;
  height:58px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12861 {
  position:absolute;
  left:2px;
  top:21px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u12862 {
  position:absolute;
  left:27px;
  top:246px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u12863 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
}
#u12864 {
  position:absolute;
  left:27px;
  top:269px;
  width:106px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5C6873;
}
#u12865 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u12866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
}
#u12866 {
  position:absolute;
  left:222px;
  top:252px;
  width:75px;
  height:25px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:right;
}
#u12867 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
