body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1413px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:26px;
}
#u615 {
  position:absolute;
  left:40px;
  top:10px;
  width:81px;
  height:25px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u616 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:19px;
}
#u617 {
  position:absolute;
  left:40px;
  top:42px;
  width:213px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u618 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1404px;
  height:11px;
}
#u619 {
  position:absolute;
  left:10px;
  top:72px;
  width:1403px;
  height:10px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u620 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u621 {
  position:absolute;
  left:40px;
  top:92px;
  width:94px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u622 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u623 {
  position:absolute;
  left:159px;
  top:92px;
  width:94px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u624 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u625 {
  position:absolute;
  left:279px;
  top:92px;
  width:94px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u626 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1374px;
  height:2px;
}
#u627 {
  position:absolute;
  left:40px;
  top:139px;
  width:1373px;
  height:1px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u628 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u629 {
  position:absolute;
  left:40px;
  top:248px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u630 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u631 {
  position:absolute;
  left:107px;
  top:248px;
  width:43px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u632 {
  position:absolute;
  left:16px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u631_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u633 {
  position:absolute;
  left:445px;
  top:248px;
  width:43px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u634 {
  position:absolute;
  left:16px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u633_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u635 {
  position:absolute;
  left:482px;
  top:244px;
  width:39px;
  height:26px;
}
#u635_input {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:26px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u636 {
  position:absolute;
  left:531px;
  top:248px;
  width:15px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u637 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u638 {
  position:absolute;
  left:276px;
  top:248px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u639 {
  position:absolute;
  left:16px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u638_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
}
#u640 {
  position:absolute;
  left:40px;
  top:299px;
  width:43px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u641 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u642 {
  position:absolute;
  left:107px;
  top:293px;
  width:175px;
  height:30px;
}
#u642_input {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u642_input:disabled {
  color:grayText;
}
#u643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u643 {
  position:absolute;
  left:40px;
  top:394px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u644 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u645 {
  position:absolute;
  left:276px;
  top:394px;
  width:66px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u646 {
  position:absolute;
  left:16px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u645_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u647 {
  position:absolute;
  left:107px;
  top:394px;
  width:66px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u648 {
  position:absolute;
  left:16px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u647_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u649 {
  position:absolute;
  left:445px;
  top:394px;
  width:66px;
  height:17px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u650 {
  position:absolute;
  left:16px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u649_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u651 {
  position:absolute;
  left:511px;
  top:390px;
  width:65px;
  height:26px;
}
#u651_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:26px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u652 {
  position:absolute;
  left:586px;
  top:394px;
  width:15px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u653 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u654 {
  position:absolute;
  left:143px;
  top:244px;
  width:39px;
  height:26px;
}
#u654_input {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:26px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u655 {
  position:absolute;
  left:192px;
  top:248px;
  width:15px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u656 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u657 {
  position:absolute;
  left:107px;
  top:446px;
  width:94px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u658 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u659 {
  position:absolute;
  left:1303px;
  top:92px;
  width:94px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u660 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u661 {
  position:absolute;
  left:40px;
  top:206px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u662 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
}
#u663 {
  position:absolute;
  left:116px;
  top:206px;
  width:99px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u664 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u665 {
  position:absolute;
  left:40px;
  top:348px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u666 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u667 {
  position:absolute;
  left:107px;
  top:348px;
  width:164px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u668 {
  position:absolute;
  left:16px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u667_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u669 {
  position:absolute;
  left:271px;
  top:344px;
  width:49px;
  height:26px;
}
#u669_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:26px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:19px;
}
#u670 {
  position:absolute;
  left:325px;
  top:348px;
  width:113px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u671 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u672 {
  position:absolute;
  left:40px;
  top:164px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u673 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u674 {
  position:absolute;
  left:111px;
  top:158px;
  width:194px;
  height:30px;
}
#u674_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:19px;
}
#u675 {
  position:absolute;
  left:315px;
  top:164px;
  width:101px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#AEAEAE;
}
#u676 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u677 {
  position:absolute;
  left:639px;
  top:392px;
  width:74px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u678 {
  position:absolute;
  left:16px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u677_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u679 {
  position:absolute;
  left:706px;
  top:386px;
  width:96px;
  height:30px;
}
#u679_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
}
#u680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u680 {
  position:absolute;
  left:812px;
  top:392px;
  width:15px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u681 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u682 {
  position:absolute;
  left:225px;
  top:205px;
  width:20px;
  height:20px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u683 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:25px;
}
#u684 {
  position:absolute;
  left:255px;
  top:203px;
  width:479px;
  height:24px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 255, 0.8);
  line-height:24px;
}
#u685 {
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  word-wrap:break-word;
}
