body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:870px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:217px;
}
#u490 {
  position:absolute;
  left:370px;
  top:10px;
  width:500px;
  height:216px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 255, 0.8);
  line-height:24px;
}
#u491 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:521px;
}
#u493 {
  position:absolute;
  left:10px;
  top:10px;
  width:300px;
  height:520px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u494 {
  position:absolute;
  left:2px;
  top:252px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:52px;
}
#u495 {
  position:absolute;
  left:10px;
  top:10px;
  width:300px;
  height:51px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u496 {
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u497 {
  position:absolute;
  left:131px;
  top:34px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u498 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:11px;
}
#u499 {
  position:absolute;
  left:16px;
  top:14px;
  width:287px;
  height:11px;
}
#u500 {
  position:absolute;
  left:2px;
  top:-2px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:31px;
}
#u501 {
  position:absolute;
  left:24px;
  top:29px;
  width:39px;
  height:30px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u502 {
  position:absolute;
  left:0px;
  top:4px;
  width:39px;
  white-space:nowrap;
}
#u503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:19px;
}
#u503 {
  position:absolute;
  left:284px;
  top:34px;
  width:12px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u504 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u505_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:59px;
}
#u505 {
  position:absolute;
  left:10px;
  top:61px;
  width:300px;
  height:58px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u506 {
  position:absolute;
  left:2px;
  top:21px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u507 {
  position:absolute;
  left:27px;
  top:72px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u508 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u509_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
}
#u509 {
  position:absolute;
  left:27px;
  top:95px;
  width:106px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5C6873;
}
#u510 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u511_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:26px;
}
#u511 {
  position:absolute;
  left:269px;
  top:78px;
  width:28px;
  height:25px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#009900;
  text-align:right;
}
#u512 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u513_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:59px;
}
#u513 {
  position:absolute;
  left:10px;
  top:119px;
  width:300px;
  height:58px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u514 {
  position:absolute;
  left:2px;
  top:21px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u515_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u515 {
  position:absolute;
  left:27px;
  top:130px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u516 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u517_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
}
#u517 {
  position:absolute;
  left:27px;
  top:153px;
  width:106px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5C6873;
}
#u518 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:26px;
}
#u519 {
  position:absolute;
  left:245px;
  top:136px;
  width:52px;
  height:25px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#009900;
  text-align:right;
}
#u520 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u521_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:59px;
}
#u521 {
  position:absolute;
  left:10px;
  top:177px;
  width:300px;
  height:58px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u522 {
  position:absolute;
  left:2px;
  top:21px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u523 {
  position:absolute;
  left:27px;
  top:188px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u524 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u525_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
}
#u525 {
  position:absolute;
  left:27px;
  top:211px;
  width:106px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5C6873;
}
#u526 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
}
#u527 {
  position:absolute;
  left:257px;
  top:194px;
  width:40px;
  height:25px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#009900;
  text-align:right;
}
#u528 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u529_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:59px;
}
#u529 {
  position:absolute;
  left:10px;
  top:235px;
  width:300px;
  height:58px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u530 {
  position:absolute;
  left:2px;
  top:21px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u531 {
  position:absolute;
  left:27px;
  top:246px;
  width:57px;
  height:18px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u532 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
}
#u533 {
  position:absolute;
  left:27px;
  top:269px;
  width:106px;
  height:15px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5C6873;
}
#u534 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
}
#u535 {
  position:absolute;
  left:222px;
  top:252px;
  width:75px;
  height:25px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:right;
}
#u536 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
